<div class="starter-template">
  <h1>Nightlife Coordination</h1>
  <p class="lead">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Digite sua cidade!">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Buscar</button>
      </span>
    </div>
  </p>
</div>
