<div class="starter-template">
  <h1>Nightlife Coordination</h1>
  <p class="lead">
    <form class="/search" action="index.html" method="post">
      <div class="input-group">
        <input type="text" class="form-control" name="search" placeholder="Digite sua cidade!">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button">Buscar</button>
        </span>
      </div>
    </form>
  </p>
</div>
